# Default values for alfresco-acs.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

registryPullSecrets: quay-registry-secret

repository:
  replicaCount: 1
  image:
    repository: alfresco/alfresco-content-repository-community
    tag: "6.0.5-ea"
    pullPolicy: Always
    internalPort: 8080
  service:
    name: alfresco
    type: NodePort
    externalPort: &repositoryExternalPort 80
  ingress:
    path: /alfresco
  environment:
    JAVA_OPTS: " -Dsolr.base.url=/solr
      -Dsolr.secureComms=none
      -Dindex.subsystem.name=solr6"
  resources:
    requests:
      memory: "1000Mi"
    limits:
      memory: "4000Mi"

share:
  replicaCount: 1
  image:
    repository: alfresco/alfresco-share
    tag: "6.0.a"
    pullPolicy: Always
    internalPort: 8080
  service:
    name: share
    type: NodePort
    externalPort: 80
  ingress:
    path: /share
  resources:
    requests:
      memory: "500Mi"
    limits:
      memory: "1000Mi"

persistence:
  existingClaim: "alfresco-volume-claim"
  repository:
    data:
      mountPath: "/usr/local/tomcat/alf_data"
      subPath: "alfresco-content-services/repository-data"

alfresco-content-services:
  alfresco-infrastructure:
    enabled: true

alfresco-infrastructure:
  rabbitmq-ha:
    enabled: false
  activemq:
    enabled: false
  alfresco-keycloak:
    enabled: false
  alfresco-activiti-cloud-registry:
    enabled: false
  alfresco-api-gateway:
    enabled: false

alfresco-search:
  enabled: true
  repository:
    # The value for "host" is the name of this chart 
    host: alfresco-content-services-community
    port: *repositoryExternalPort

database:
  type: postgresql

postgresql:
  ## If true, install the postgresql chart alongside Alfresco Content Services
  enabled: true
  nameOverride: postgresql-acs
  imageTag: "10.1"
  postgresUser: alfresco
  postgresPassword: alfresco
  postgresDatabase: alfresco
  persistence:
    existingClaim: "alfresco-volume-claim"
    subPath: "alfresco-content-services/database-data"
  resources:
    requests:
      memory: "250Mi"
    limits:
      memory: "500Mi"
  driver: org.postgresql.Driver

replicaCount: 1
